.form{
    width:50%;
    min-height:100px;
    padding-top:40px;
    margin-bottom: 110px;
}

.form input{
    width:100%;
    height:30px;
    font-family: 'Cousine', monospace;
    font-size: 14px;padding-left:8px;
    margin: 20px 0;
}

.form input:focus{
    outline: none;
}

.form textarea{
    width:100%;
    height:100px;
    font-family: 'Cousine', monospace;
    font-size: 14px;padding: 4px 0 0 8px;
    margin: 20px 0;
}

.form textarea:focus{
    outline: none;
}

.btn{
    color:#A86F3B;
    background-color: #fff;
    border: none;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:35px;
    cursor: pointer;
    font-family: 'Cousine', monospace;
}

.btn:hover{
    text-decoration: underline;
}

.btn i{
    margin:0px 0 0 40px;
}