@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: 'Cousine', monospace; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.contact-lottie {
  position: absolute;
  top:0;
  right:0;
  margin-top:50px !important;
  width:600px !important;
}


.thankyou-lottie {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -58px !important;
    width: 600px !important;
    margin-right: -58px !important;
}